services:
  catalogue:
    build: 
      context: ./catalogue
      dockerfile: Dockerfile
    image: surendevops75/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
    build: ./mongodb
    image: surendevops75/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  mysql:
    build: ./mysql
    image: surendevops75/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:  # rabbitmq:var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123  
  user:
    build: ./user
    image: surendevops75/user:v1
    container_name: user
    depends_on:
      - redis
      - catalogue
  cart:
    build: ./cart
    image: surendevops75/cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue
  shipping:
    build: ./shipping
    image: surendevops75/shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart
  payment:
    build: ./payment
    image: surendevops75/payment:v1
    container_name: payment
    depends_on:
      - rabbitmq
      - cart
      - user
  frontend:
    build: ./frontend
    image: surendevops75/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment

networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if you have created network manually using docker network command

volumes:
  mongodb: #docker volume create mongodb
  redis:
  mysql:
  rabbitmq: